{
  "openapi": "3.1.0",
  "info": {
    "title": "HS Knowledge Base API",
    "version": "2.0.0",
    "summary": "Kho tri thức mở về mã HS, thuế và pháp lý xuất nhập khẩu Việt Nam",
    "description": "API tra mã HS, thuế suất, chính sách mặt hàng và sinh mô tả khai báo Hải quan theo TT 39/2018.\n\n## Quyền truy cập\n\n**Không cần token** — nhóm tra cứu (/api/tax, /api/search, /api/notes, /api/kg_chapter, /api/customs-types và các resource dữ liệu).\nĐây là kho tri thức mở: bất kỳ AI hay người nào cũng gọi được ngay.\n\n**Cần Bearer token** — nhóm AI (`/api/suggest`, `/api/describe`, `/api/classify`, `/api/match`) vì mỗi lượt gọi tốn chi phí mô hình, và nhóm quản trị.\n\n## Đọc kết quả cho đúng\n\nMọi trích dẫn quy tắc GIR đều kèm trường `basis`:\n\n| basis | Nghĩa | Dùng cho hồ sơ giải trình Hải quan? |\n|---|---|---|\n| `RULE_TABLE` | Bảng quyết định do người soạn, có dẫn văn bản gốc | Được |\n| `DETERMINISTIC` | Hệ thống suy ra từ tín hiệu chắc chắn | Được |\n| `HEURISTIC` | Dò từ khoá / điểm ước lượng | Cần người kiểm chứng |\n| `LLM_ASSERTED` | Mô hình tự khai, chưa kiểm chứng | Không |\n\n## Miễn trừ trách nhiệm\n\nĐây là **tài liệu tham khảo nghiệp vụ**, không phải phán quyết phân loại của cơ quan Hải quan và không phải tư vấn pháp lý.\nPháp luật XNK thay đổi liên tục — luôn đối chiếu văn bản gốc còn hiệu lực tại thời điểm khai báo.",
    "license": {
      "name": "MIT (code) / CC BY-SA 4.0 (dữ liệu)",
      "url": "https://github.com/ozvietnam/hs-code-api/blob/main/NOTICE.md"
    },
    "contact": {
      "name": "HS Knowledge Base",
      "url": "https://github.com/ozvietnam/hs-code-api"
    }
  },
  "servers": [
    {
      "url": "https://hs-kb.uythacnhapkhau.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Tra cứu",
      "description": "Đọc kho tri thức — không cần token"
    },
    {
      "name": "AI",
      "description": "Sinh nội dung bằng mô hình — cần token"
    },
    {
      "name": "Hệ thống",
      "description": "Giám sát"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "HS_API_TOKEN"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Thông điệp lỗi"
          },
          "code": {
            "type": "string",
            "description": "Mã lỗi ổn định (nếu có), vd INVALID_HS_CODE, FEEDBACK_NOT_PERSISTED"
          },
          "retryable": {
            "type": "boolean",
            "description": "true = lỗi tạm thời, gọi lại sau"
          },
          "detail": {
            "type": "string",
            "description": "Chi tiết kỹ thuật"
          }
        }
      },
      "AcftaForOrigin": {
        "type": "object",
        "description": "Mức ACFTA áp cho nước xuất xứ. eligible=false → áp MFN; null → biểu gốc có nhiều mức, tra dòng 10 số.",
        "properties": {
          "origin": {
            "type": "string",
            "description": "Mã ISO-2"
          },
          "eligible": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "rate": {
            "type": [
              "number",
              "null"
            ]
          },
          "higherThanMfn": {
            "type": "boolean",
            "description": "ACFTA cao hơn MFN — nên khai MFN"
          },
          "noteVi": {
            "type": "string",
            "description": "Giải thích để đọc cho người dùng"
          }
        }
      },
      "MissingFact": {
        "type": "object",
        "properties": {
          "attribute": {
            "type": "string",
            "description": "Tên khoá dùng trong facts"
          },
          "questionVi": {
            "type": "string",
            "description": "Câu hỏi để hỏi người dùng"
          },
          "type": {
            "type": "string",
            "enum": [
              "enum",
              "number"
            ]
          },
          "unit": {
            "type": "string",
            "description": "Đơn vị khi type=number"
          },
          "optionsVi": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "value": {
                  "type": "string"
                },
                "labelVi": {
                  "type": "string"
                }
              }
            },
            "description": "Lựa chọn hợp lệ. Trả lời bằng value, index hoặc labelVi đều được."
          }
        }
      },
      "GirDetermination": {
        "type": "object",
        "properties": {
          "rule": {
            "type": "string",
            "description": "Quy tắc, vd \"GIR 6\""
          },
          "basis": {
            "type": "string",
            "enum": [
              "RULE_TABLE",
              "DETERMINISTIC",
              "HEURISTIC",
              "LLM_ASSERTED"
            ]
          },
          "reasonVi": {
            "type": "string",
            "description": "Lý do"
          },
          "evidence": {
            "type": "object"
          },
          "source": {
            "type": "string",
            "description": "Nguồn"
          }
        }
      },
      "Suggestion": {
        "type": "object",
        "properties": {
          "hsCode": {
            "type": "string",
            "description": "Mã 8 số — luôn có trong biểu thuế"
          },
          "nameVi": {
            "type": "string",
            "description": "Tên trong biểu thuế"
          },
          "confidence": {
            "type": [
              "number",
              "null"
            ],
            "description": "Điểm mô hình tự khai, CHƯA hiệu chuẩn — không phải xác suất. null ở chế độ deterministic."
          },
          "reasoning": {
            "type": "string",
            "description": "Lý do; số hiệu văn bản chưa kiểm chứng được gắn \"[chưa kiểm chứng]\""
          },
          "unverifiedCitations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "productExamples": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tên hàng THẬT từ tờ khai (mã Loại khác)"
          },
          "productExamplesGenerated": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Câu máy sinh, chưa kiểm chứng"
          },
          "addedByResidualGuard": {
            "type": "boolean",
            "description": "Mã Loại khác do hệ thống chèn thêm để cân nhắc"
          },
          "taxAcftaChina": {
            "$ref": "#/components/schemas/AcftaForOrigin"
          }
        }
      }
    }
  },
  "paths": {
    "/api/health": {
      "get": {
        "operationId": "health",
        "summary": "Kiểm tra dịch vụ + trạng thái LLM",
        "description": "Trả 200 khi đủ cả 3 điều kiện: có dữ liệu biểu thuế, có token cấu hình, và còn ít nhất một nhà cung cấp LLM. Thiếu LLM thì trả 503 kèm `checks.llm.note` — /api/suggest và /api/describe chỉ chạy chế độ không AI (degraded).",
        "tags": [
          "Hệ thống"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/tax": {
      "get": {
        "operationId": "getTax",
        "summary": "Tra thuế NK/ACFTA/VAT + cảnh báo chính sách theo mã HS",
        "description": "Trả thuế suất, đơn vị tính và cảnh báo quản lý chuyên ngành kèm liên kết văn bản pháp luật. ⚠️ Thuế suất và chính sách thay đổi theo thông tư — luôn đối chiếu văn bản gốc còn hiệu lực khi khai báo. ACFTA: dùng `acfta.forOrigin` (theo `?origin=`, mặc định CN) — chuỗi \"0 (-CN)\" nghĩa là hàng Trung Quốc KHÔNG được 0%. Ngoài thuế suất và cảnh báo chính sách, trả kèm `vatReduction` — bản đọc được bằng máy của quyền giảm VAT theo NĐ 174/2025. `eligible: false` nghĩa là mã nằm trong phụ lục loại trừ, vẫn phải khai ở mức `rate`; `noteVi` là nguyên văn lý do. Cùng với đó là `breadcrumb` cho biết mã nằm ở đâu trong biểu thuế — cần thiết với các mã có tên chỉ là \"Loại khác\". Lưu ý quy ước trường `taxVat` dạng \"A/B\": A là mức ĐANG áp dụng, B là mức còn lại.",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": true,
            "description": "Mã HS 8 số, vd 84137090",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": false,
            "description": "Nước xuất xứ ISO-2 để tính ACFTA (mặc định CN)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "found": {
                      "type": "boolean"
                    },
                    "hsCode": {
                      "type": "string",
                      "description": "Mã 8 số"
                    },
                    "nameVi": {
                      "type": "string",
                      "description": "Tên trong biểu thuế"
                    },
                    "unitVi": {
                      "type": "string",
                      "description": "Đơn vị tính"
                    },
                    "taxNkPreferential": {
                      "type": "string",
                      "description": "Thuế NK ưu đãi (MFN), %"
                    },
                    "taxNkTt": {
                      "type": "string",
                      "description": "Thuế NK thông thường, %"
                    },
                    "taxAcfta": {
                      "type": "string",
                      "description": "Chuỗi ACFTA nguyên văn — ĐỪNG đọc số đầu, dùng acfta.forOrigin"
                    },
                    "taxAcftaChina": {
                      "$ref": "#/components/schemas/AcftaForOrigin"
                    },
                    "acfta": {
                      "type": "object",
                      "properties": {
                        "raw": {
                          "type": "string"
                        },
                        "rate": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "available": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "excludedCountries": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "needsReview": {
                          "type": "boolean"
                        },
                        "forOrigin": {
                          "$ref": "#/components/schemas/AcftaForOrigin"
                        }
                      }
                    },
                    "taxVat": {
                      "type": "string",
                      "description": "\"A/B\": A là mức ĐANG áp"
                    },
                    "vatReduction": {
                      "type": "object",
                      "description": "eligible, rate, validUntil, noteVi, legalBasis"
                    },
                    "tariffQuota": {
                      "type": "object",
                      "description": "Chỉ có với mặt hàng hạn ngạch: mfnInQuota, mfnOutQuota, noteVi"
                    },
                    "policyByHs": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Chính sách quản lý nguyên văn"
                    },
                    "policyStatus": {
                      "type": "string",
                      "enum": [
                        "RECORDED",
                        "NOT_RECORDED"
                      ],
                      "description": "NOT_RECORDED ≠ không có chính sách — đọc policyNoteVi"
                    },
                    "policyNoteVi": {
                      "type": "string",
                      "description": "Cảnh báo khi dữ liệu chính sách trống"
                    },
                    "mappedHs": {
                      "type": "object",
                      "description": "Chương 98: mã hàng tương ứng tại Mục I"
                    },
                    "tariff": {
                      "type": "object",
                      "description": "effectiveDate, lastCheckedAt, freshness (OK/DUE/...), noteVi"
                    },
                    "breadcrumb": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Thiếu tham số hs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Mã không có trong biểu thuế (kèm relatedHsCodes)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "operationId": "search",
        "summary": "Tìm mã HS theo từ khoá hoặc mã một phần",
        "description": "Tra được cả tên hàng theo cách người đi khai gọi, không chỉ lời văn biểu thuế. Mỗi kết quả có thể kèm: `precedent` (cụm từ này đã được khai bao nhiêu lần trong tờ khai đã thông quan, kèm mức tập trung), `tradeTerm` (mục từ điển tên thương mại đã khớp — ĐỌC `appliesWhenVi` trước khi dùng, vì mã đúng thường phụ thuộc khổ, dạng hoặc thành phần), `breadcrumb` (Phần → Chương → Nhóm → Phân nhóm; với mã tên là \"Loại khác\" thì `scopeVi` mới là phạm vi thật và `excludesVi` là các mã anh em bị loại trừ), và `vatReduction` (`eligible: false` nghĩa là KHÔNG được giảm VAT theo NĐ 174/2025 — khai 8% sẽ bị truy thu). Cấp response còn có `avoidedCodes` (mã đã bị loại khỏi kết quả vì là bẫy nhầm lẫn, kèm lý do), `clarifyingQuestionsVi` (dữ kiện còn thiếu để chốt mã), `formWarning` (hỏi nguyên liệu nhưng tiền lệ là thành phẩm) và `tradeTermNotApplied`. Khi có `avoidedCodes` hoặc `clarifyingQuestionsVi`, hãy nói lại cho người dùng thay vì nuốt đi. Tên gọi chỉ đưa tới nhóm 4 số; lá 8 số do BẢNG QUYẾT ĐỊNH theo thuộc tính chốt: `decisions[]` (mỗi nhóm có bảng: `status` RESOLVED/INSUFFICIENT, `hsCode` + `ruleId` + `reasonVi` + `source` khi chốt được, `missingFacts[]` là thuộc tính còn thiếu kèm `questionVi`, `basis` RULE_TABLE chỉ khi bảng đã verified). Kết quả do bảng chốt có `decision` và đứng đầu. Trả lời câu hỏi bằng `facts` để chốt.",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Từ khoá tiếng Việt hoặc mã HS một phần",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Số kết quả tối đa (mặc định 10)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facts",
            "in": "query",
            "required": false,
            "description": "JSON object dữ kiện tường minh theo tên thuộc tính trong `missingFacts`, vd {\"thicknessMm\":2,\"form\":\"coil\"}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/notes": {
      "get": {
        "operationId": "getNotes",
        "summary": "Chú giải chương — căn cứ áp dụng GIR 1",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "chapter",
            "in": "query",
            "required": true,
            "description": "Số chương, vd 39",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/kg_chapter": {
      "get": {
        "operationId": "listChapterCodes",
        "summary": "Liệt kê mã HS trong một chương",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "chapter",
            "in": "query",
            "required": true,
            "description": "Số chương",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/customs-types": {
      "get": {
        "operationId": "customsTypes",
        "summary": "Mã loại hình xuất nhập khẩu (QĐ 1357/QĐ-TCHQ)",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "Mã loại hình, vd A11",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/suggest": {
      "post": {
        "operationId": "suggest",
        "summary": "Gợi ý mã HS bằng AI, kèm audit trail GIR có căn cứ",
        "description": "Body: `{\"description\": \"tên hàng\"}`. Trả `suggestions[]`, `girRulesApplied[]` (mỗi mục có `basis`: RULE_TABLE/DETERMINISTIC là căn cứ chắc, HEURISTIC/LLM_ASSERTED phải kiểm chứng lại), `girDisclaimer`, `rankingSignals[]` (kỹ thuật, không có giá trị pháp lý) và `chapterGuidance[]`. Kèm `decisions[]` (bảng quyết định theo thuộc tính cho các nhóm trong top gợi ý) và `missingFacts[]` — thuộc tính còn thiếu để chốt lá 8 số; ERP/người dùng trả lời bằng body `facts: {...}` rồi gọi lại. Bảng đã verified chốt được lá thì lá đó lên đầu với `decidedByTable`; chưa verified chỉ tư vấn. Cần token vì mỗi lượt gọi tốn chi phí LLM. ĐỌC `status` + `nextAction` TRƯỚC: NEED_FACTS → hỏi người dùng rồi gọi lại với `facts`; NEEDS_EXPERT → AI không chạy được, cần chuyên viên; REVIEW → người dùng chọn/xác nhận. Không có trạng thái tự chốt: `confidence` chưa hiệu chuẩn.",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "Tên hàng + chất liệu + công dụng + thông số (≥ 3 ký tự)",
                    "minLength": 3
                  },
                  "facts": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Trả lời missingFacts: {<attribute>: <value | index | labelVi | số>}"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "topReranked": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 5,
                        "default": 3
                      },
                      "topCandidates": {
                        "type": "integer",
                        "minimum": 3,
                        "maximum": 20,
                        "default": 10
                      }
                    }
                  },
                  "items": {
                    "type": "array",
                    "maxItems": 20,
                    "description": "Chế độ batch: [{id, description}] — thay cho description",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "NO_CANDIDATES",
                        "NEED_FACTS",
                        "NEEDS_EXPERT",
                        "RESOLVED_BY_TABLE",
                        "REVIEW"
                      ],
                      "description": "Đọc trước tiên"
                    },
                    "nextAction": {
                      "type": "object",
                      "description": "Việc agent cần làm tiếp",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "REPHRASE",
                            "ASK_USER",
                            "HUMAN_REVIEW",
                            "USER_CONFIRM"
                          ]
                        },
                        "questions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MissingFact"
                          }
                        },
                        "then": {
                          "type": "object",
                          "description": "Lời gọi tiếp theo (endpoint + body mẫu)"
                        },
                        "optionsHs": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "reasonVi": {
                          "type": "string"
                        }
                      }
                    },
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Suggestion"
                      }
                    },
                    "engine": {
                      "type": "string",
                      "enum": [
                        "llm",
                        "deterministic"
                      ]
                    },
                    "degraded": {
                      "type": "boolean"
                    },
                    "llmRejectedCodes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hsCode": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "missingFacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MissingFact"
                      }
                    },
                    "rejectedFacts": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "decisions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "girRulesApplied": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GirDetermination"
                      }
                    },
                    "residualAdvisory": {
                      "type": "object"
                    },
                    "antiPatternWarnings": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "confusionWarning": {
                      "type": [
                        "object",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Thiếu description (≥ 3 ký tự) hoặc JSON sai",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Thiếu hoặc sai Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/describe": {
      "post": {
        "operationId": "describe",
        "summary": "Sinh mô tả khai báo Hải quan chuẩn TT 39/2018 (tối đa 200 ký tự ECUS)",
        "description": "Khi LLM lỗi, trả `degraded: true` + `llmError{code,message,retryable}` + cảnh báo `DESCRIPTION_DEGRADED` — mô tả khi đó là bản dự phòng thô, không được coi là đạt chuẩn.",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hsCode"
                ],
                "properties": {
                  "hsCode": {
                    "type": "string",
                    "description": "Mã HS 8 số (có trong biểu thuế)"
                  },
                  "productName": {
                    "type": "string",
                    "description": "Tên hàng"
                  },
                  "brand": {
                    "type": "string",
                    "description": "Nhãn hiệu"
                  },
                  "model": {
                    "type": "string",
                    "description": "Model / ký hiệu"
                  },
                  "origin": {
                    "type": "string",
                    "description": "Xuất xứ"
                  },
                  "material": {
                    "type": "string",
                    "description": "Chất liệu / thành phần"
                  },
                  "condition": {
                    "type": "string",
                    "description": "Tình trạng, vd \"Mới 100%\""
                  },
                  "technicalSpec": {
                    "type": "string",
                    "description": "Thông số kỹ thuật"
                  },
                  "purpose": {
                    "type": "string",
                    "description": "Công dụng"
                  },
                  "customerDescription": {
                    "type": "string",
                    "description": "Mô tả gốc của khách"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "declaration": {
                      "type": "object",
                      "description": "Các trường khai báo có cấu trúc (TT 39/2018)"
                    },
                    "customsDescription": {
                      "type": "string",
                      "description": "Mô tả ≤ 200 ký tự để dán ECUS"
                    },
                    "compliance": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "number"
                        },
                        "level": {
                          "type": "string",
                          "enum": [
                            "EXCELLENT",
                            "GOOD",
                            "ACCEPTABLE",
                            "WEAK",
                            "REJECT"
                          ]
                        },
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "severity": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "suggestion": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "passesCustomsAudit": {
                          "type": "boolean"
                        }
                      }
                    },
                    "degraded": {
                      "type": "boolean",
                      "description": "true = bản khai dựng không qua AI, cần người sửa"
                    },
                    "llmError": {
                      "type": [
                        "object",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Thiếu hsCode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Thiếu hoặc sai Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Mã không có trong biểu thuế",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/classify": {
      "post": {
        "operationId": "classify",
        "summary": "Phân loại có cây quyết định + bảng phân giải cụm mã dễ nhầm",
        "description": "Trả `results[]` (mã 8 hoặc 6 số — 6 số nghĩa là còn thiếu dữ kiện, xem `missing[]`), `girRulesApplied[]` (có `basis`), `llmRejectedCodes` khi AI trả mã không có trong biểu thuế.",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tenHang"
                ],
                "properties": {
                  "tenHang": {
                    "type": "string",
                    "description": "Tên hàng (≥ 2 ký tự)"
                  },
                  "chatLieu": {
                    "type": "string",
                    "description": "Chất liệu"
                  },
                  "congDung": {
                    "type": "string",
                    "description": "Công dụng"
                  },
                  "chucNang": {
                    "type": "string",
                    "description": "Chức năng"
                  },
                  "specs": {
                    "type": "string",
                    "description": "Thông số"
                  },
                  "nameZh": {
                    "type": "string",
                    "description": "Tên tiếng Trung"
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "premium"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Thiếu tenHang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Thiếu hoặc sai Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Lỗi phân loại",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/feedback": {
      "post": {
        "operationId": "feedback",
        "summary": "Ghi nhận giám đốc sửa mã HS",
        "description": "Phải kiểm tra `ok: true`. 503 FEEDBACK_NOT_PERSISTED = CHƯA lưu được — giữ `record` và gửi lại sau.",
        "tags": [
          "AI"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "feedbackType"
                ],
                "properties": {
                  "feedbackType": {
                    "type": "string",
                    "description": "vd \"correction\""
                  },
                  "productName": {
                    "type": "string",
                    "description": "Tên hàng"
                  },
                  "hsCodeAtTime": {
                    "type": "string",
                    "description": "Mã AI đã gợi ý"
                  },
                  "correctedHsCode": {
                    "type": "string",
                    "description": "Mã đúng (8 số, có trong biểu thuế)"
                  },
                  "directorNote": {
                    "type": "string",
                    "description": "Ghi chú"
                  },
                  "orderCode": {
                    "type": "string",
                    "description": "Mã đơn"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "feedbackId": {
                      "type": "string"
                    },
                    "persisted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Thiếu feedbackType hoặc correctedHsCode không hợp lệ (INVALID_HS_CODE)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Thiếu hoặc sai Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "FEEDBACK_NOT_PERSISTED — bản ghi chưa được lưu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/kg_stats": {
      "get": {
        "operationId": "dataset_kg_stats",
        "summary": "Thống kê kho dữ liệu",
        "description": "Rewrite tới /api/dataset?resource=kg_stats",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/chapters": {
      "get": {
        "operationId": "dataset_chapters",
        "summary": "Chỉ mục chương HS",
        "description": "Rewrite tới /api/dataset?resource=chapters",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/conflicts": {
      "get": {
        "operationId": "dataset_conflicts",
        "summary": "Cảnh báo mã dễ nhầm",
        "description": "Rewrite tới /api/dataset?resource=conflicts",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/precedents": {
      "get": {
        "operationId": "dataset_precedents",
        "summary": "Tiền lệ phân loại TB-TCHQ",
        "description": "Rewrite tới /api/dataset?resource=precedents",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/materials": {
      "get": {
        "operationId": "dataset_materials",
        "summary": "Phân loại vật liệu",
        "description": "Rewrite tới /api/dataset?resource=materials",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/ministries": {
      "get": {
        "operationId": "dataset_ministries",
        "summary": "14 bộ ngành quản lý chuyên ngành",
        "description": "Rewrite tới /api/dataset?resource=ministries",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/legal-docs": {
      "get": {
        "operationId": "dataset_legal_docs",
        "summary": "Thư viện văn bản pháp luật",
        "description": "Rewrite tới /api/dataset?resource=legal_docs",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/policy-procedures": {
      "get": {
        "operationId": "dataset_policy_procedures",
        "summary": "Thủ tục kiểm tra chuyên ngành",
        "description": "Rewrite tới /api/dataset?resource=policy_procedures",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/products": {
      "get": {
        "operationId": "dataset_products",
        "summary": "Corpus sản phẩm cho mã \"Loại khác\"",
        "description": "Rewrite tới /api/dataset?resource=products",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/accuracy": {
      "get": {
        "operationId": "dataset_accuracy",
        "summary": "Benchmark độ chính xác (công khai, không tô hồng)",
        "description": "Rewrite tới /api/dataset?resource=accuracy",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/data-quality": {
      "get": {
        "operationId": "dataset_data_quality",
        "summary": "Báo cáo chất lượng dữ liệu — gồm cả điểm yếu",
        "description": "Rewrite tới /api/dataset?resource=data_quality",
        "tags": [
          "Tra cứu"
        ],
        "security": [],
        "parameters": [
          {
            "name": "hs",
            "in": "query",
            "required": false,
            "description": "Lọc theo mã HS (nếu resource hỗ trợ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Lỗi máy chủ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-generated": {
    "by": "scripts/build-openapi.mjs",
    "at": "2026-09-24",
    "note": "Sinh tự động từ lib/public-access.js — đừng sửa tay, sửa nguồn rồi chạy npm run build."
  }
}
